{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first">
        <h1>Reset Password</h1>
    </div>

    <!-- Login Form -->
    <form method="post">
      {% csrf_token %}
        <input type="password" id="oldPassword" class="fadeIn second" name="oldPassword" placeholder="Old Password">
        <input type="password" id="password1" class="fadeIn third" name="password1" placeholder="new password">
        <input type="password" id="password2" class="fadeIn third" name="password2" placeholder="Confirm password">
      <input type="submit" class="fadeIn fourth" value="Update">
    </form>
    <div id="formFooter">

    </div>

  </div>
</div>
{% endblock %}